body {
    margin: 0;
    padding: 0;

}
#wrapper {
    width: 80%;
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

nav {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}
.nav-content {
    margin: 0 auto;
    width: 960px;
}
.nav-header {
    background-color: teal;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding 1%;
    display: inline-block;
    margin: 0;
}

.nav-content > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

}

.nav-content > ul li {
display: inline-block;
margin: 0;
padding: 0em;
}

a {
    background-color: white;
    color: gray;
    display: inline-block;
    text-decoration: none;
    float: right;
    box-sizing: border-box;
    border-left: 2px solid gray;
    text-align: center;
    padding-right: 30px; 

}


.main {
    clear: both;
    color: teal;
    background: url(../images/email-pattern.png);
margin-left: auto;
margin-right: auto;
}

.content-header {
    
}
img {
    width: 200px;
    height: 450px;
    float: left;
}

p {
    color: gray;
}

.container {
    background-color: white;
    width: 960px;
    height: 500px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    border-top: 10px solid teal;
    padding-top: 20px;
    background-color:gray;
    color:white;
    text-align: center;
    position: fixed left;
    


}