#wrapper {
    width: 80%;
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

nav {
    background-color: white;
}

h1 {
    background-color: teal;
    box-sizing: border-box;
    float: left;
    color: white;
    border:1px solid yellow;}

a {
    background-color: white;
    color: gray;
    display: inline-block;
    text-decoration: none;
    float: right;
    box-sizing: border-box;
    border-left: 2px solid gray;
    text-align: center;
    padding-right: 30px; 
    border:1px solid green;

}


.main {
    clear: both;
    color: teal;
    height: 1000px;
    border:1px solid pink;
    background: url(../images/email-pattern.png);
}

img {
    width: 200px;
    height: 450px;
}
.container {
    background-color: white;
    width: 960px;
    height: 960px;
    margin-left: 11%;
    
    

    
}

footer {
    clear: both;
    border:1px solid rgb(77, 209, 16);
    background-color: grey;
    color:white;
    text-align: center;
    position: fixed left;
    


}